<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Saria Store</title>
  </head>
  <body>
    <!-- the nav bar -->
    <div id="theme">
      <nav id="nav">
        <div class="navTop">
          <div class="navItem">
            <img src="/static/img/logo.jpg" width="93" height="60" alt="" />
          </div>
          <div class="navItem"></div>
          <div class="navItem">
            <span class="limitedOffer">Limited Offer!</span>
          </div>
        </div>
        <!-- the dark mode button -->
        <button id="toggle-btn" class="dark-mode-toggle">dark mode</button>

        <div class="navBottom">
          <h3 class="menuItem">Chicken shawerma</h3>
          <h3 class="menuItem">Meat shawerma</h3>
          <h3 class="menuItem">chicken shawerma sandwich</h3>
          <h3 class="menuItem">meat shawerma sandwich</h3>
          <h3 class="menuItem">NEW !!</h3>
        </div>
      </nav>




      
      <div class="slider">
        <div class="sliderWrapper">
          <div class="sliderItem">
            <img
              src="/static/img/kilo_tavuk_doner_b2.png"
              alt=""
              class="sliderImg"
            />
            <div class="sliderBg"></div>
            <h1 class="sliderTitle">
              Chicken<br />
              shawerma<br />
            </h1>
            <h2 class="sliderPrice">120 L.E</h2>
            <a href="#product">
              <button class="buyButton">BUY NOW!</button>
            </a>
          </div>
          <div class="sliderItem">
            <img
              src="/static/img/kilo_et_doner_b2.png"
              alt=""
              class="sliderImg"
            />
            <div class="sliderBg"></div>
            <h1 class="sliderTitle">
              Meat<br />
              Shawerma<br />
            </h1>
            <h2 class="sliderPrice">120 L.E</h2>
            <a href="#product">
              <button class="buyButton">BUY NOW!</button>
            </a>
          </div>
          <div class="sliderItem">
            <img
              src="/static/img/shawerma chicken.png"
              alt=""
              class="sliderImg"
            />
            <div class="sliderBg"></div>
            <h1 class="sliderTitle">
              Chicken<br />
              Shawerma<br />
              Sandwich
            </h1>
            <h2 class="sliderPrice">70 L.E</h2>
            <a href="#product">
              <button class="buyButton">BUY NOW!</button>
            </a>
          </div>
          <div class="sliderItem">
            <img src="/static/img/meat sand.png" alt="" class="sliderImg" />
            <div class="sliderBg"></div>
            <h1 class="sliderTitle">
              Meat<br />
              shawerma<br />
              sandwich
            </h1>
            <h2 class="sliderPrice">80L.E</h2>
            <a href="#product">
              <button class="buyButton">BUY NOW!</button>
            </a>
          </div>
          <div class="sliderItem">
            <img
              src="/static/img/burgerr.png"
              alt=""
              class="sliderImg"
              width="450"
              height="450"
            />
            <div class="sliderBg"></div>
            <h1 class="sliderTitle">
              Meat<br />
              burger<br />
            </h1>
            <h2 class="sliderPrice">99 L.E</h2>
            <a href="#product">
              <button class="buyButton">BUY NOW!</button>
            </a>
          </div>
        </div>
      </div>
















      
      <div class="features">
        <div class="feature">
          <img src="/static/img/shipping.png" alt="" class="featureIcon" />
          <span class="featureTitle">FREE SHIPPING</span>
          <span class="featureDesc"
            >Free shipping on all orders inside cairo.</span
          >
        </div>
        <div class="feature">
          <img class="featureIcon" src="/static/img/return.png" alt="" />
          <span class="featureTitle">FOR FREE</span>
          <span class="featureDesc"
            >buy 2 orders and the third is for free .</span
          >
        </div>
        <div class="feature">
          <img class="featureIcon" src="/static/img/gift.png" alt="" />
          <span class="featureTitle">GIFT CARDS</span>
          <span class="featureDesc"
            >Buy gift cards and use coupon codes easily.</span
          >
        </div>
        <div class="feature">
          <img class="featureIcon" src="/static/img/contact.png" alt="" />
          <span class="featureTitle">CONTACT US!</span>
          <span class="featureDesc"
            >Keep in touch via email and support system.</span
          >
        </div>
      </div>
      <div class="product" id="product">
        <img
          src="/static/img/kilo_tavuk_doner_b2.png"
          alt=""
          class="productImg"
        />
        <div class="productDetails">
          <h1 class="productTitle">Chicken shawerma</h1>
          <h2 class="productPrice">120 L.E</h2>
          <p class="productDesc">
            We offer all our foods with pickles, garlic dip, fries, and Pepsi, And we have 3 diffrent sizes.
          </p>
          <div class="sizes">
            <div class="size">S</div>
            <div class="size">M</div>
            <div class="size">L</div>
          </div>
          <!-- <button class="productButton"><a href="{{url_for('buying')}}" class="aproductButton"> BUY NOW!</a></button> -->
          <a href="{{url_for('buying')}}" class="aproductButton"
            ><button class="productButton">BUY NOW!</button></a
          >
        </div>
      </div>




















      <div class="gallery">
        <div class="galleryItem">
          <h1 class="galleryTitle">Best shawerma</h1>
          <img
            src="https://i.pinimg.com/originals/fc/b2/70/fcb27035bbcc26b120794c44427844a3.jpg"
            alt=""
            class="galleryImg"
            >
        </div>
        <div class="galleryItem">
          <img
            src="https://i.pinimg.com/originals/79/bd/5e/79bd5eceff0f0a8ced864cd7e2ad2fff.jpg"
            alt=""
            class="galleryImg"
          />
          <h1 class="galleryTitle">MR . SHAWERMA</h1>
        </div>
        <div class="galleryItem">
          <h1 class="galleryTitle">Tasty shawerma</h1>
          <img
            src="https://i.pinimg.com/originals/f8/a4/4a/f8a44a3b9bbecb13aae7698d2b44f349.jpg"
            alt=""
            class="galleryImg"
          />
        </div>
      </div>

















      <div class="newSeason">
        <div class="nsItem">
          <img
            src="http://7br.online/wp-content/uploads/2018/05/shawrma-3.jpg"
            alt=""
            class="nsImg"
          />
        </div>
        <div class="nsItem">
          <h3 class="nsTitleSm">ONLY US !</h3>
          <h1 class="nsTitle">BEST FOOD</h1>
          <h1 class="nsTitle">DELICIOUS TASTY</h1>
          <a href="#nav">
            <button class="nsButton">CHOOSE YOUR MEAL</button>
          </a>
        </div>
        <div class="nsItem">
          <img
            src="https://pbs.twimg.com/media/DNkG3B2WAAEAPIM.jpg:large"
            alt=""
            class="nsImg"
          />
        </div>
      </div>

      <!-- the footer -->

      <footer>
        <div class="footerLeft">
          <div class="footerMenu">
            <h1 class="fMenuTitle">About Us</h1>
            <ul class="fList">
              <li class="fListItem">Contact</li>
              <li class="fListItem">Careers</li>
              <li class="fListItem">Affiliates</li>
              <li class="fListItem">Stores</li>
            </ul>
          </div>
          <div class="footerMenu">
            <h1 class="fMenuTitle">Useful Links</h1>
            <ul class="fList">
              <li class="fListItem">Support</li>
              <li class="fListItem">Refund</li>
              <li class="fListItem">FAQ</li>
              <li class="fListItem">Feedback</li>
              <li class="fListItem">Stories</li>
            </ul>
          </div>
          <div class="footerMenu">
            <h1 class="fMenuTitle">Products</h1>
            <ul class="fList">
              <li class="fListItem">Chicken shawerma</li>
              <li class="fListItem">Meat shawerma</li>
              <li class="fListItem">chicken shawerma sandwich</li>
              <li class="fListItem">meat shawerma sandwich</li>
              <li class="fListItem"></li>
            </ul>
          </div>
        </div>
        <div class="footerRight">
          <div class="footerRightMenu">
            <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
            <div class="fMail">
              <input type="email" placeholder="your@email.com" class="fInput" />
              <button class="fButton">Join!</button>
            </div>
          </div>
          <div class="footerRightMenu">
            <h1 class="fMenuTitle">Follow Us</h1>
            <div class="fIcons">
              <img src="/static/img/twitter.png" alt="" class="fIcon" />
              <img src="/static/img/facebook.png" alt="" class="fIcon" />
              <img src="/static/img/instagram.png" alt="" class="fIcon" />
              <img src="/static/img/whatsapp.png" alt="" class="fIcon" />
            </div>
          </div>
          <div class="footerRightMenu">
            <span class="copyright">@Saria. All rights reserved. 2022.</span>
          </div>
        </div>
      </footer>
    </div>

    <script src="/static/app.js"></script>
  </body>
</html>
